nav>ul{
  display: flex;
  list-style: none;
  gap: 10px;
  margin-top: 50px;
  height: 50px; 
  align-items: center;
}
nav>ul>li{
  height: 30px;
  width: 75px;
  border-radius: 15px;
  background-color: #DCD6F7;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav>ul>li>a{
  text-decoration: none;
  color: #424874;
}
.todo-outterdiv{
  display: flex;
  align-items: center;
  justify-content: center;
}
.todo-title{
  background-color: #DCD6F7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.todo-outterdiv>.todo-listbox{
padding: 2% 5% 1% 5%;
}
.todo-title>h4{
  margin: 10px;
}
.todo-listbox{
  background-color: #F4EEFF;
}
.listed{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 30px;
}
.todolist-items{
  width: 85%;
}
form{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.text-box{
  width: 85%;
  height: 45px;
  margin: 15px 0px;
  border: none;
}
.add-btn{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #DCD6F7;
  border: none;
}
.completed{
  text-decoration: line-through;
}
input[type=text]{
  padding: 10px;
}